.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;
}
.hero {
  max-width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
span {
  display: flex;
  gap: 25px;
  justify-content: center;

  a {
    margin: 0;

    img {
      width: 30px;
    }
  }
}
a {
  width: fit-content;
  align-self: center;
}
button {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  font-weight: bold;
  width: 120px;
  height: 50px;
  font-size: 30px;
  border-radius: 20px;
  box-shadow: 0 4px rgba(0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}
button:hover {
  transform: scale(1.05);
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0.25);
}
.colorModeComntainer {
  position: relative;
}
.colorMode {
  position: absolute;
  width: 25px;
}
.colorMode:hover {
  cursor: pointer;
}
.desc {
  max-width: 24ch;
  align-self: center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
@media (width >= 800px) {
  .container {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    text-align: center;
  }
  .hero {
    margin-top: 140px;
    margin-right: 20px;
    max-width: 250px;
    width: 250px;
  }
  .colorMode {
    position: relative;
    margin: 5px 0 0 150px;
    width: 30px;
  }
}
